.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 150px;
}

.current-weather > * {
    margin: 0;
    font-weight: 300; 
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.current-weather > .city-name {
    font-size: 20px;
}

.current-weather > .temperature {
    font-size: 50px;
    font-weight: 100;

    margin: -15px;
}

.current-weather > .weather {
    font-size: 15px;
}

.current-weather > .highest-lowest {
    font-weight: 200;
}

@media only screen and (max-width: 1040px) {
    .current-weather {
        height: 250px;
    }

    .current-weather > .city-name {
        font-size: 25px;
    }

    .current-weather > .temperature {
        font-size: 65px;
        font-weight: 100;

        padding-left: 15px;
    
        margin: -13px;
    }

    .current-weather > .weather {
        font-size: 18px;
    }

    .current-weather > .highest-lowest {
        font-weight: 300;

        font-size: 16px;
    }
}