.feels-like {
    grid-row: 3;
    grid-column: 3;
}

.feels-like > .temperature {
    font-size: 25px;
    margin: 0;
    margin-top: -5px;
}

.feels-like > .description {
    margin-top: 35px;
    font-size: 10px;
}

@media only screen and (max-width: 1040px) {
    .feels-like {
        grid-column: 2;
        grid-row: 6;
    }

    .feels-like > .temperature {
        font-size: 28px;
    }

    .feels-like > .description {
        margin-top: 37px;
        font-size: 11px;
    }
}