.sun-state {
    grid-row: 3;
    grid-column: 4;
}

.sun-state > .time {
    font-size: 25px;
    margin: 0;
    margin-top: -5px;
}

.sun-state > .description {
    margin-top: 50px;
    font-size: 10px;
}

@media only screen and (max-width: 1040px) {
    .sun-state {
        grid-column: 1;
        grid-row: 8;
    }

    .sun-state > .time {
        font-size: 28px;
    }

    .sun-state > .description {
        margin-top: 53px;
        font-size: 11px;
    }
}