body {
  margin: 0;
  min-height: 100vh;
  background-color: #1a1a1c;
  background: linear-gradient(to left top, #403d3d, #1a1a1c);
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

input {
  background-color: rgba(12, 12, 12, 0.2);
  color: rgba(255, 255, 255, 0.8);

  border: none;
  border-radius: 5px;
  outline: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;

  backdrop-filter: blur(2px);
}

input::placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
    transition: background-color 5000s ease-in-out 0s;
}

img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}